@page
@model Library.Pages.AuthorPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить автора</h1>

<h3>Вы уверены, что хотите удалить?</h3>
<div>

    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.IsDeleted)
        </dd>*@
        <dt class="col-sm-2">
            Фамилия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.LastName)
        </dd>
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.FirstName)
        </dd>
        <dt class="col-sm-2">
            Отчество
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Middle)
        </dd>
        <dt class="col-sm-2">
            Дата рождения
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.DateOfBirthAsString)
        </dd>
        <dt class="col-sm-2">
            Дата смерти
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.DateOfDeathAsString)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Author.Id" />
        <input type="submit" value="Удалить" class="text-decoration-none btn btn-outline-danger" />
        <a asp-page="./Index" class="text-decoration-none btn btn-outline-dark">Назад</a>
    </form>
</div>
