@page
@model Library.Pages.BookPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить книгу</h1>

<h3>Вы уверены, что хотите удалить?</h3>
<div>

    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.IsDeleted)
        </dd>*@
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Name)
        </dd>
        <dt class="col-sm-2">
            Автор
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Author)
        </dd>
        <dt class="col-sm-2">
           Издание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Publisher)
        </dd>
        <dt class="col-sm-2">
            Год издания
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.PablicationYearAsString)
        </dd>
        <dt class="col-sm-2">
            Цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Cost)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Book.Id" />
        <input type="submit" value="Удалить" class="btn  btn-outline-danger" /> 
        <a asp-page="./Index" class="text-decoration-none btn btn-outline-dark">Назад</a>
    </form>
</div>
