@page
@model Library.Pages.BookPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Книги</h1>

<p>
    <a asp-page="Create" class="text-decoration-none btn btn-outline-dark">Добавить новую книгу</a>
    <a asp-page="/GenrePages/Index" class="text-decoration-none btn btn-outline-dark">Жанры</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Book[0].IsDeleted)
            </th>*@
            <th>
                Название
            </th>
            <th>
               Автор
            </th>
            <th>
                Издание
            </th>
            <th>
                Год издания
            </th>
            <th>
               Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PablicationYearAsString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a asp-page="./Edit" class="text-decoration-none btn btn-outline-success" asp-route-id="@item.Id">Изменить</a>
                <a asp-page="./Details" class="text-decoration-none btn btn-outline-primary" asp-route-id="@item.Id">Подробно</a> 
                <a asp-page="./Delete" class="text-decoration-none btn btn-outline-danger" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
